### Remember the steps...

In [1]:
# get data
# clean data, dropping any rows and columns that need to be dropped (1)
# select features (could postpone this)
# X/y split
# Train/Test split
# split both Train and Test in numericals and categoricals
# transformations on numericals:
#     fit ONLY on numericals_train
#     transform BOTH numericals_train and numericals_test
# encoding categoricals
#     fit ONLY on categricals_train
#     encode BOTH categoricals_train and categoricals_test
# combine (concatenate) numericals_train and categoricals_train into train_processed (array or ?dataframe)
# combine numericals_test and categoricals_test into test_processed (array or ?dataframe)
# define model
# fit (train) model on train_processed
# evaluate (score) model on test_processed (only real evaluation of model can be done on test data)
#up to you to decide which transformations are appropriate

# save model and transformers/encoders (2)

#you use the same preparation up until the point where you choose the model you want to use (logistic, KNN or linear regression, etc)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics

In [3]:
#data = pd.read_csv('df_cleaned.csv')
data = pd.read_csv('df_cleaned.csv', index_col=[0])
data

,offer_accepted,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance
0,No,Air Miles,Letter,High,1,No,High,2,0,4,No,1160.75
1,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25
2,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50
3,No,Air Miles,Letter,Medium,2,No,High,1,0,4,No,1219.00
4,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00
...,...,...,...,...,...,...,...,...,...,...,...,...
17971,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50
17972,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50
17973,No,Cash Back,Letter,High,1,No,Low,2,0,4,No,1087.25
17974,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25
17975,No,Cash Back,Letter,Low,2,No,Medium,2,0,3,No,1056.00

In [4]:
data.dtypes

offer_accepted           object
reward                   object
mailer_type              object
income_level             object
#_bank_accounts_open      int64
overdraft_protection     object
credit_rating            object
#_credit_cards_held       int64
#_homes_owned             int64
household_size            int64
own_your_home            object
average_balance         float64
dtype: object

In [6]:
data.describe()
#average_balance has very large range, $48-3366, will need to do standard scale

,#_bank_accounts_open,#_credit_cards_held,#_homes_owned,household_size,average_balance
count,17976.000000,17976.000000,17976.000000,17976.000000,17976.000000
mean,1.255730,1.903427,0.779929,3.499110,940.515562
std,0.472405,0.797086,0.670681,1.114476,350.297837
min,1.000000,1.000000,0.000000,1.000000,48.250000
25%,1.000000,1.000000,0.000000,3.000000,787.500000
50%,1.000000,2.000000,1.000000,3.000000,1007.000000
75%,1.000000,2.000000,1.000000,4.000000,1153.250000
max,3.000000,4.000000,3.000000,9.000000,3366.250000

### X/Y Split

In [5]:
y = data['offer_accepted']  #categorical 
X = data.drop(['offer_accepted'], axis = 1) # 5 numericals, 6 categoricals

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)

### Analyze extracted features and transform them.Â¶
May need to encode some categorical variables, or scale numerical variables.

In [ ]:
#Splitting X_train into numerical and categorical and then transforming

X_train_num = X_train.select_dtypes(include = np.number)