### Remember the steps...

In [1]:
# get data
# clean data, dropping any rows and columns that need to be dropped (1)
# select features (could postpone this)
# X/y split
# Train/Test split
# split both Train and Test in numericals and categoricals
# transformations on numericals:
#     fit ONLY on numericals_train
#     transform BOTH numericals_train and numericals_test
# encoding categoricals
#     fit ONLY on categricals_train
#     encode BOTH categoricals_train and categoricals_test
# combine (concatenate) numericals_train and categoricals_train into train_processed (array or ?dataframe)
# combine numericals_test and categoricals_test into test_processed (array or ?dataframe)
# define model
# fit (train) model on train_processed
# evaluate (score) model on test_processed (only real evaluation of model can be done on test data)
#up to you to decide which transformations are appropriate

# save model and transformers/encoders (2)

#you use the same preparation up until the point where you choose the model you want to use (logistic, KNN or linear regression, etc)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics

In [3]:
#data = pd.read_csv('df_cleaned.csv')
data = pd.read_csv('df_cleaned.csv', index_col=[0])
data

,offer_accepted,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance
0,No,Air Miles,Letter,High,1,No,High,2,0,4,No,1160.75
1,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25
2,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50
3,No,Air Miles,Letter,Medium,2,No,High,1,0,4,No,1219.00
4,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00
...,...,...,...,...,...,...,...,...,...,...,...,...
17971,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50
17972,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50
17973,No,Cash Back,Letter,High,1,No,Low,2,0,4,No,1087.25
17974,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25
17975,No,Cash Back,Letter,Low,2,No,Medium,2,0,3,No,1056.00

In [4]:
data.dtypes

offer_accepted           object
reward                   object
mailer_type              object
income_level             object
#_bank_accounts_open      int64
overdraft_protection     object
credit_rating            object
#_credit_cards_held       int64
#_homes_owned             int64
household_size            int64
own_your_home            object
average_balance         float64
dtype: object

In [6]:
data.describe()
#average_balance has very large range, $48-3366, will need to do standard scale

,#_bank_accounts_open,#_credit_cards_held,#_homes_owned,household_size,average_balance
count,17976.000000,17976.000000,17976.000000,17976.000000,17976.000000
mean,1.255730,1.903427,0.779929,3.499110,940.515562
std,0.472405,0.797086,0.670681,1.114476,350.297837
min,1.000000,1.000000,0.000000,1.000000,48.250000
25%,1.000000,1.000000,0.000000,3.000000,787.500000
50%,1.000000,2.000000,1.000000,3.000000,1007.000000
75%,1.000000,2.000000,1.000000,4.000000,1153.250000
max,3.000000,4.000000,3.000000,9.000000,3366.250000

### X/Y Split

In [5]:
y = data['offer_accepted']  #categorical 
X = data.drop(['offer_accepted'], axis = 1) # 5 numericals, 6 categoricals

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=43)

In [16]:
X_train.shape

(14380, 11)

In [22]:
X_train.head(10)

,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance
11164,Cash Back,Letter,High,1,No,Medium,3,2,3,Yes,659.00
16015,Air Miles,Letter,Low,2,No,Low,2,0,2,No,1049.50
10706,Cash Back,Letter,High,1,No,Low,1,2,4,Yes,1066.25
12590,Points,Postcard,Medium,1,No,Low,2,2,2,Yes,939.75
12274,Cash Back,Letter,Medium,1,No,Low,2,2,5,Yes,311.50
17800,Air Miles,Postcard,Medium,1,No,Medium,2,0,1,No,1105.50
15963,Cash Back,Postcard,Medium,1,No,Low,1,1,3,Yes,1087.50
7854,Cash Back,Letter,Low,1,No,Medium,3,0,4,No,849.00
6787,Cash Back,Postcard,High,2,No,Low,3,1,4,Yes,1117.50
16702,Points,Postcard,Low,1,No,Low,2,1,4,Yes,761.00

In [17]:
X_test.shape

(3596, 11)

In [18]:
y_train.head()  #offer_accepted is being shown, it's the target

11164    No
16015    No
10706    No
12590    No
12274    No
Name: offer_accepted, dtype: object

### Analyze extracted features and transform them.¶
May need to encode some categorical variables, or scale numerical variables.

In [10]:
#Splitting X_train into numerical and categorical and then transforming numericals

#X_train_num = X_train.select_dtypes(include = np.number)


#Using min/max scaler for X_train
#transformer = MinMaxScaler().fit(X_train_num) # need to keep transformer
#X_train_normalized = transformer.transform(X_train_num)
#X_train_norm = pd.DataFrame(X_train_normalized, columns=X_train_num.columns)
X_train_norm.head(10)
#this doesn't look right to me

,#_bank_accounts_open,#_credit_cards_held,#_homes_owned,household_size,average_balance
0,0.0,0.666667,0.666667,0.250,0.210585
1,0.5,0.333333,0.000000,0.125,0.345229
2,0.0,0.000000,0.666667,0.375,0.351004
3,0.0,0.333333,0.666667,0.125,0.307387
4,0.0,0.333333,0.666667,0.500,0.090768
5,0.0,0.333333,0.000000,0.000,0.364538
6,0.0,0.000000,0.333333,0.250,0.358331
7,0.0,0.666667,0.000000,0.375,0.276097
8,0.5,0.666667,0.333333,0.375,0.368675
9,0.0,0.333333,0.333333,0.375,0.245755

In [ ]:
#Deal with discrete and continous numerical features differently. 
#Does average_balance how a normal distribution?

#### Next step is to treat categoricals

#### One-hot encoding:
    
reward

mailer type

overdraft protection

own your home



#### Ordinal encoding:
    
income level

credit rating

In [21]:
X_categoricals_train= X_train.select_dtypes(object)
X_categoricals_test= X_test.select_dtypes(object)
X_categoricals_train.head(10) #can see has same index as X_train

,reward,mailer_type,income_level,overdraft_protection,credit_rating,own_your_home
11164,Cash Back,Letter,High,No,Medium,Yes
16015,Air Miles,Letter,Low,No,Low,No
10706,Cash Back,Letter,High,No,Low,Yes
12590,Points,Postcard,Medium,No,Low,Yes
12274,Cash Back,Letter,Medium,No,Low,Yes
17800,Air Miles,Postcard,Medium,No,Medium,No
15963,Cash Back,Postcard,Medium,No,Low,Yes
7854,Cash Back,Letter,Low,No,Medium,No
6787,Cash Back,Postcard,High,No,Low,Yes
16702,Points,Postcard,Low,No,Low,Yes

In [23]:
#separating out the categorical features from the X_train which are for one-hot encoding
one_hot_columns = X_categoricals_train[['reward', 'mailer_type', 'overdraft_protection', 'own_your_home']]
one_hot_columns

          reward mailer_type overdraft_protection own_your_home
11164  Cash Back      Letter                   No           Yes
16015  Air Miles      Letter                   No            No
10706  Cash Back      Letter                   No           Yes
12590     Points    Postcard                   No           Yes
12274  Cash Back      Letter                   No           Yes
...          ...         ...                  ...           ...
5534      Points    Postcard                   No           Yes
16322  Cash Back    Postcard                   No            No
5307   Cash Back    Postcard                   No           Yes
7985      Points      Letter                   No            No
14148  Cash Back      Letter                   No            No

[14380 rows x 4 columns]

In [24]:
encoder = OneHotEncoder(drop='first').fit(one_hot_columns) 
encoded = encoder.transform(one_hot_columns).toarray()
encoded_columns = OneHotEncoder(drop='first').fit(one_hot_columns).get_feature_names_out(input_features=one_hot_columns.columns) 
# this allows us to get the columns names for our encoded array

X_train_cat_one_hot = pd.DataFrame(encoded, columns = encoded_columns)
X_train_cat_one_hot.head(10)

,reward_Cash Back,reward_Points,mailer_type_Postcard,overdraft_protection_Yes,own_your_home_Yes
0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,1.0
3,0.0,1.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0
5,0.0,0.0,1.0,0.0,0.0
6,1.0,0.0,1.0,0.0,1.0
7,1.0,0.0,0.0,0.0,0.0
8,1.0,0.0,1.0,0.0,1.0
9,0.0,1.0,1.0,0.0,1.0
10,0.0,0.0,0.0,0.0,1.0
11,0.0,1.0,1.0,0.0,0.0
12,0.0,1.0,0.0,0.0,0.0
13,1.0,0.0,1.0,0.0,0.0
14,0.0,1.0,1.0,0.0,1.0
15,0.0,1.0,1.0,0.0,0.0
16,0.0,1.0,0.0,0.0,0.0
17,0.0,1.0,0.0,0.0,1.0
18,0.0,1.0,1.0,0.0,1.0
19,0.0,1.0,1.0,0.0,1.0

In [25]:
ordinal_coded_columns = X_categoricals_train[['income_level', 'credit_rating']]
ordinal_coded_columns

      income_level credit_rating
11164         High        Medium
16015          Low           Low
10706         High           Low
12590       Medium           Low
12274       Medium           Low
...            ...           ...
5534          High          High
16322         High          High
5307        Medium          High
7985           Low        Medium
14148       Medium          High

[14380 rows x 2 columns]